name: $(Date:yyyyMMdd)-$(rev:rr)-${{ upper(parameters.Environment) }}-$(SourceBranchName) # == $(Build.BuildNumber)

trigger: none

parameters:
  - name: Environment
    type: string
    default: dev
    values:
      - dev
      - stg
      - prd

stages:

  - stage: Build
    jobs:
      - job: Build
        steps:
          - script: |
              echo "Build the code..."
              echo "Build the code..." > $(Build.ArtifactStagingDirectory)/build_output.txt
          - publish: $(Build.ArtifactStagingDirectory)
            artifact: drop

  - stage: Deploy_To_${{ upper(parameters.Environment) }}
    jobs:
      - job: Deploy_To_${{ upper(parameters.Environment) }}
        steps:
          - download: current
          - script: echo "Deploy to ${{ parameters.Environment }} environment..."
