name: $(Date:yyyyMMdd)-$(rev:rr)-${{ upper(parameters.Environment) }}-$(SourceBranchName) # == $(Build.BuildNumber)

trigger: none

parameters:
  - name: Environment
    type: string
    default: dev
    values:
      - dev
      - stg
      - prd

resources:
  pipelines:
    - pipeline: BuildPipeline
      source: 03-build-and-deploy-to-selected

stages:

  - stage: Deploy_To_${{ upper(parameters.Environment) }}
    jobs:
      - job: Deploy_To_${{ upper(parameters.Environment) }}
        steps:
          - download: BuildPipeline
          - script: echo "Deploy to ${{ parameters.Environment }} environment..."
