__marimo__/
__pycache__/
__pypackages__/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
!*.[Cc]ache/
!**/packages/build/
.*crunch*.local.xml
.abstra/
.builds
.cache
.coverage
.coverage.*
.cr/
.dmypy.json
.eggs/
.env
.envrc
.fake/
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.JustCode
.mypy_cache/
.nox/
.ntvs_analysis.dat
.paket/paket.exe
.pdm-build/
.pdm-python
.pixi
.pybuilder/
.pypirc
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.ruff_cache/
.sass-cache/
.scrapy
.spyderproject
.spyproject
.streamlit/secrets.toml
.terraform/
.tox/
.venv
.vs/
.vscode
.webassets-cache
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
*_i.c
*_i.h
*_p.c
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bak
*.bim_*.settings
*.bim.layout
*.btm.cs
*.btp.cs
*.build.csdef
*.cachefile
*.cover
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.egg
*.egg-info/
*.GhostDoc.xml
*.gpState
*.ilk
*.jfm
*.jmconfig
*.ldf
*.log
*.manifest
*.mdf
*.meta
*.mm.*
*.mo
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.outputs
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.pot
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.py.cover
*.py[codz]
*.pyc
*.rdl.data
*.rsp
*.sage.py
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.so
*.spec
*.suo
*.svclog
*.tfplan
*.tfstate
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/packages/*
**/Properties/launchSettings.json
*~
*$py.class
/site
wwwroot/
~$*
$tf/
AppPackages/
artifacts/
AutoTest.Net/
Backup*/
bld/
build/
BundleArtifacts/
celerybeat-schedule
celerybeat.pid
ClientBin/
cover/
coverage.xml
csx/
cython_debug/
db.sqlite3
db.sqlite3-journal
deploy/kubernetes/*.yaml
deploy/kubernetes/*.yml
develop-eggs/
dist/
dlldata.c
dmypy.json
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
docs/_build/
downloads/
ecf/
eggs/
env.bak/
env/
ENV/
FakesAssemblies/
Generated_Code/
htmlcov/
instance/
ipch/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
marimo/_lsp/
marimo/_static/
nCrunchTemp_*
node_modules/
nosetests.xml
orleans.codegen.cs
Package.StoreAssociation.xml
paket-files/
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
sdist/
share/python-wheels/
tf-azure/backend.tf
tf-azure/terraform.tfvars
target/
TestResult.xml
typings/
UpgradeLog*.htm
UpgradeLog*.XML
var/
venv.bak/
venv/
wheels/
x64/
x86/
models/volume-data/*
!models/volume-data/.gitkeep
terraform_outputs*.json
libversions.env
