
terraform {
  backend "azurerm" { # Variables/Locals may not be used here.
    resource_group_name  = "{{ TFBACKEND_RESOURCE_GROUP_NAME }}"
    storage_account_name = "{{ TFBACKEND_STORAGEACCOUNT_NAME }}"
    container_name       = "{{ TFBACKEND_CONTAINER_NAME }}"
    key                  = "terraform.tfstate"
    use_azuread_auth     = true
  }
}
